fastapi
uvicorn[standard]
pydantic
pydantic-settings
psycopg2-binary
sqlalchemy
redis
telebot
telethon
apscheduler
cryptography
pysocks
requests
pymongo
passlib[bcrypt]
python-jose[cryptography]
aiohttp
aiosqlite
httpx
pytest-asyncio
​pytest>=8.0.0
