google-genai
httpx
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
asyncpg
aiosqlite
passlib[bcrypt]
bcrypt
python-multipart
PyJWT
cryptography
python-dotenv
email-validator
redis
pytest
pytest-asyncio
psycopg2-binary
telebot
telethon
apscheduler
pysocks
requests
pymongo
python-jose[cryptography]
aiohttp
